<footer class="py-5" style="background-color: #e6ffe6;">
    <h3 class="text-success ps-4">Daily Fresh</h3>
    <ul id="contact_details" style="list-style-type: none;">
        <li>www.dailyfreshfood.com</li>
        <li><i class="fa-solid fa-envelope fa-beat-fade"></i> dailyfreshorganicfood@gmail.com</li>
        <li><i class="fa-solid fa-location-dot fa-flip"></i> Daily Fresh Oraganic Foods, Kakkanad</li>
        <li><i class="fa-solid fa-tty fa-bounce"></i> 04924 222 009</li>
        <li><i class="fa-solid fa-phone-volume fa-fade"></i> +91 999988899</li>
    </ul>
    <div class="container">
        <p class="m-0 text-center text-success">Copyright <i class="fa-solid fa-copyright fa-flip"></i> All Rights Are
            Reserved 2023</p>

    </div>
</footer>